.site-header {
	background-color: $white-color;
	color: $font-color;
	padding: $gutter + em;
}

.site-header--overlay {
	background-color: transparent;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.site-header__logo {
	align-items: center;
	display: flex;
	height: 34px;
	justify-content: flex-start;
	list-style: none;

	img {
		height: auto;
		width: 210px;
	}
}

.main-nav {
	align-items: center;
	display: flex;
	height: 34px;
	justify-content: flex-end;
	list-style: none;
}

.main-nav__item {
	padding: 1em;
}