/*
---- Colors
*/
$base-color: #E9E9EA;
$white-color: #FFFFFF;
$black-alpha-color: rgba(0,0,0,0.4);
$white-alpha-color: rgba(255,255,255,0.1);

$font-color: #212121;

$primary-color: #0A1E54;
$secondary-color: #7D91BE;
$accent-color: #29A5DB;

/*
---- Text and spaces
*/
$font-body: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;;
$regular-text: 400;
$bold-text: 600;


$gutter: 2;